$transition: all 0.3s ease


/* Main style */
body
  margin: 0
  padding: 0
  font-family: GothamProMed
  overflow-x: hidden

a
  transition: $transition
  outline: none !important

  &:hover
    text-decoration: none !important
    opacity: 0.8

ul, ol
  margin: 0
  padding: 0
  counter-reset: item

  li
    counter-increment: item

.btn-modal
  cursor: pointer

.close-modal-btn
  cursor: pointer

  &:hover
    opacity: 0.8

.btn-mobile
  display: none
  visibility: hidden
  opacity: 0

.close-modal-btn
  display: block
  visibility: visible
  opacity: 1
  margin-bottom: 40px

.puzzle-d
  display: block
  visibility: visible
  opacity: 1

.puzzle-m
  display: none
  visibility: hidden
  opacity: 0

.pos-a
  position: absolute

  &.item-parallax__1
    bottom: 0px
    right: -200px

  &.item-parallax__2
    bottom: 100px
    left: -50px

  &.item-parallax__3
    top: 0px
    right: -120px

.modal-btn
  cursor: pointer

.text-left
  text-align: left !important

.text-right
  text-align: right !important

.text-center
  text-align: center !important

.color-white
  color: #fff !important

.color-black
  color: #212121 !important

.color-gray
  color: #686c6f !important

.color-green
  color: #7fb9ba !important

.bg
  background-repeat: no-repeat
  background-position: top center
  background-size: cover

.btn
  border-radius: 50px
  display: inline-block
  padding: 0 40px
  height: 60px
  line-height: 60px
  font-family: GothamProMed
  font-size: 14px
  color: #272727
  margin-top: 30px
  cursor: pointer
  transition: $transition

  &-yellow
    background-color: #fed750

  &:hover
    opacity: 0.8

/* Main style to all sections ::start */
.section
  position: relative

  .text
    font-family: OpenSans
    color: #fff
    font-size: 16px
    line-height: 24px
    margin-bottom: 25px

  .article
    margin-bottom: 50px
    line-height: 56px
    color: #212121
    font-size: 40px
    font-family: GothamProMed

  .blockquote
    color: #212121
    font-family: GothamProMed
    line-height: 40px
    font-size: 24px
    padding: 50px 0
    border-top: 1px solid #e9e9e9
    border-bottom: 1px solid #e9e9e9
    margin-top: 70px

/* Main style to all sections ::end */

/* HEADER */
.header
  padding-top: 55px
  padding-bottom: 55px
  position: fixed
  width: 100%
  top: 0
  left: 0
  box-sizing: border-box
  z-index: 100
  transition: $transition

  &.fix
    padding-top: 16px
    padding-bottom: 10px
    background-color: #fff
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05)

    .send-price
      color: #212121

      &:hover
        opacity: 0.8

      &:after
        background-color: #212121

    .link-phone
      color: #212121

  .logo
    display: inline-block

  .text
    font-size: 14px
    font-family: GothamProMed
    color: #fff
    margin-bottom: 0
    line-height: 16px

  .send-price
    display: inline-block
    font-family: GothamProMed
    text-transform: uppercase
    font-size: 16px
    color: #fff
    letter-spacing: 2px
    margin-top: 22px
    transition: $transition

    //&:before
    //  content: url('../images/file.svg')
    //  display: inline-block
    //  vertical-align: top
    //  margin-right: 15px

    &:after
      content: ''
      width: 4px
      height: 4px
      background-color: #fff
      border-radius: 100%
      margin: 0 20px
      display: inline-block
      vertical-align: middle
      transition: $transition

  .link-phone
    font-family: GothamProMed
    color: #fff
    letter-spacing: 2px
    text-transform: uppercase
    display: inline-block
    vertical-align: middle
    transition: $transition

/* SECTION 1 */
.section1
  padding-top: 231px
  padding-bottom: 137px

  .top-text
    font-family: GothamProMed
    color: #fff
    font-size: 16px
    display: inline-block
    margin-bottom: 25px
    line-height: normal
    position: relative

    span
      display: inline-block
      vertical-align: middle
      padding-left: 100px
      line-height: 20px

    &:before
      content: ''
      width: 70px
      height: 2px
      background-color: #fff
      margin-right: 12px
      display: inline-block
      position: absolute
      left: 0
      top: 50%
      margin-top: -1px
      vertical-align: middle

  .h1
    color: #fff
    font-size: 30px
    line-height: 40px
    font-family: GothamPro
    margin-bottom: 30px
    text-transform: uppercase

  .text
    max-width: 370px
    margin-bottom: 0
    font-family: GothamProMed

  ol
    margin-top: 30px

    li
      list-style: none
      font-size: 16px
      font-family: GothamProMed
      color: #fff
      line-height: 24px
      margin-bottom: 25px
      display: block

      &:before
        content: "0" counter(item)
        font-family: GothamPro
        margin-bottom: 10px
        display: block
        opacity: 0.5
        text-transform: uppercase
        font-size: 18px

.section2
  padding-top: 80px

.section3
  padding: 100px 0

.section4
  .item
    margin-bottom: 75px

    .imagebox
      border-radius: 6px
      overflow: hidden
      position: relative
      z-index: 40

    .number-list
      .right-container
        position: relative
        z-index: 40

        .article
          font-size: 22px
          line-height: 32px
          color: #212121
          font-family: GothamProMed
          margin-bottom: 10px

      &:before
        content: ''
        position: absolute
        top: -50px
        z-index: 10
        color: #f6f6f6
        font-family: Montserrat
        font-size: 390px
        line-height: normal

      &.num1
        &:before
          content: '01'

      &.num2
        &:before
          content: '02'

      &.num3
        &:before
          content: '03'

      &.num4
        &:before
          content: '04'

      &.num5
        &:before
          content: '05'

      &.num6
        &:before
          content: '06'

      &.num7
        &:before
          content: '07'

      &.num8
        &:before
          content: '08'

    &.item-left
      .number-list
        &:before
          left: -150px

        .right-container
          padding-left: 40px

    &.item-right
      .number-list
        &:before
          left: -50px

        .right-container
          padding-right: 40px

.section5
  background-color: #8d76be
  padding: 70px 0

  .item
    margin-bottom: 50px

    .icon
      width: 60px
      height: 60px
      margin-bottom: 15px
      border-radius: 100%
      background-color: #fed750
      text-align: center
      line-height: 60px

      &:before
        position: relative
        top: 5px

      &.icon1:before
        content: url('../images/trending-up.svg')

      &.icon2:before
        content: url('../images/percent.svg')

      &.icon3:before
        content: url('../images/card.svg')

      &.icon4:before
        content: url('../images/chart.svg')

      &.icon5:before
        content: url('../images/clock.svg')

      &.icon6:before
        content: url('../images/navigation.svg')

    .article
      font-family: GothamProMed
      font-size: 18px
      color: #fff
      margin-bottom: 12px
      line-height: 24px

    .text
      margin-bottom: 0

.section6
  padding: 100px 0

  .text
    max-width: 600px
    color: #686c6f
    line-height: 38px
    margin: 0 auto 60px
    font-size: 26px

  .image
    margin: 0 auto

  .tab-article
    color: #212121
    font-family: GothamProMed
    font-size: 26px
    margin-bottom: 50px
    display: block
    text-align: center
    line-height: 42px

  .tabs-formats
    &__point
      width: 33%
      float: left
      color: #8d76be
      font-family: GothamProMed
      padding-bottom: 18px
      text-transform: uppercase
      text-align: center
      border-bottom: 2px solid #f6f6f6
      margin-bottom: 40px

      &.current
        border-bottom: 2px solid #8d76be

    .tabs_content
      &__col
        float: left
        width: 50%
        box-sizing: border-box
        overflow: hidden

        &.col-left
          padding-left: 90px

        &.col-right
          padding-left: 60px

        .text
          font-family: OpenSans
          color: #686c6f
          margin-bottom: 35px
          line-height: 32px
          font-size: 16px
          text-align: left

          strong, b, .bold
            color: #131313

          span
            color: #57b9bb

.section7
  padding: 117px 0

  .item
    .icon
      width: 76px
      height: 76px
      margin: 0 auto 15px
      border-radius: 100%
      background-color: #49a8aa
      text-align: center
      line-height: 76px

    .article
      font-family: GothamProMed
      color: #fff
      margin-bottom: 12px
      font-size: 18px
      line-height: 24px

.section8
  padding: 100px 0 0 0

  .tabs-steps
    counter-reset: item

    &__point
      width: 20%
      display: inline-block
      float: left
      color: #212121
      text-transform: uppercase
      font-size: 11px
      font-family: GothamPro
      line-height: 20px
      letter-spacing: 2px
      counter-increment: item
      margin-bottom: 48px

      &.current
        &:before
          background-color: #7fb9ba

        span
          color: #7fb9ba

      &:hover
        opacity: 1

      &:before
        content: counter(item)
        background-color: #8f75be
        width: 36px
        height: 36px
        border-radius: 100%
        line-height: 36px
        text-align: center
        font-family: Montserrat
        color: #fff
        font-size: 14px
        display: block
        margin: 0 auto 10px
        position: relative
        z-index: 18
        transition: $transition

      &:after
        content: ''
        width: 100%
        height: 2px
        background-color: #8d76be
        position: absolute
        top: 15px
        left: 0
        z-index: 12

      span
        text-decoration: underline
        text-decoration-style: dashed
        transition: $transition

.section9
  padding: 100px 0

  .reviews-item
    margin-bottom: 77px

    &__person
      margin-bottom: 32px

      .userpic
        width: 64px
        height: 64px
        border-radius: 100%
        border: 1px solid #e8e8e8
        margin-right: 18px
        display: inline-block
        vertical-align: middle

      .info
        display: inline-block
        vertical-align: middle

        .name
          color: #212121
          text-transform: uppercase
          letter-spacing: 2px
          font-family: GothamPro
          margin-bottom: 12px
          font-size: 14px
          display: inline-block

        .link
          display: inline-block
          vertical-align: middle
          margin-left: 25px

        .state
          text-transform: uppercase
          color: #686c6f
          letter-spacing: 2px
          font-size: 14px
          font-family: GothamProMed

    &__container
      .text
        line-height: 32px
        color: #686c6f

      .video
        display: block
        position: relative
        margin-top: 30px

        &:before
          content: url("../images/player.svg")
          position: absolute
          left: 0
          right: 0
          top: 50%
          margin-top: -58px
          text-align: center
          cursor: pointer

        img
          width: 100%
          height: inherit

        &.play
          &:before
            display: none

.footer
  padding: 75px 0
  background-color: #7fb9ba

  .article
    margin-bottom: 15px

  .text
    margin-bottom: 35px

/* Modal form */
.modal-form
  max-width: 400px
  margin: 0 auto

  .modal-form__box
    position: relative
    margin-bottom: 50px

  .modal-input
    width: 100%
    color: rgba(255, 255, 255, 0.3)
    font-size: 14px
    font-family: OpenSans
    height: 31px
    line-height: 31px
    padding: 0
    border-top: none
    border-left: none
    border-right: none
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)
    -webkit-box-shadow: none
    box-shadow: none
    outline: none
    background: transparent
    -webkit-transition: all 0.1s ease-in-out
    transition: all 0.1s ease-in-out

  .modal-input.filled
    border-bottom: 1px solid #fff

  .modal-input:focus ~ label,.modal-input.filled ~ label
    bottom: 30px
    color: rgba(255, 255, 255, 1)
    font-size: 12px

  .modal-input:focus ~ .bar:before,.modal-input:focus ~ .bar:after
    width: 50%

  .modal-input:valid
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)

  .modal-input:valid ~ .bar:before,.modal-inputvalid ~ .bar:after
    background: rgba(255, 255, 255, 1)

  .modal-label
    font-size: 14px
    font-family: OpenSans
    margin-bottom: 0
    bottom: 10px
    left: 0
    position: absolute
    pointer-events: none
    color: rgba(255, 255, 255, 0.3)
    -webkit-transition: 0.1s ease-in-out
    transition: 0.1s ease-in-out

  .checkbox-private
    display: block
    vertical-align: middle
    color: #fff
    font-family: OpenSans
    font-size: 14px
    margin: 0px auto 40px
    width: 100%
    text-align: left
    position: relative

  .checkbox-private_checkbox-royal
    display: inline-block
    padding-left: 40px

  .checkbox-private_checkbox-old
    position: absolute
    top: 0px
    visibility: hidden
    z-index: 8
    width: 24px
    height: 24px

  .checkbox-private_checkbox-old:checked ~ .checkbox-private_checkbox-new
    background-image: url("../images/arrow-checkbox.svg")
    background-repeat: no-repeat
    background-position: center

  .checkbox-private_checkbox-new
    width: 24px
    height: 24px
    border: 1px solid #fff
    vertical-align: middle
    margin-right: 10px
    display: inline-block
    position: absolute
    top: 0px

  .checkbox-private a
    color: #fff
    font-size: 14px
    text-decoration: none
    padding-bottom: 2px
    font-family: OpenSans
    border-bottom: 1px solid #fff

    &:hover
      border-bottom: 1px solid transparent

/* Modal */
.modal-container-window
  padding: 30px
  background-color: #7fb9ba

  .modal-content
    border: none
    background-color: #7fb9ba
    text-align: center

    .text
      color: #fff
      margin-bottom: 35px

    .btn
      width: 235px
      margin: 0 auto



